<html>
  <head>

  </head>
  <body>
    <h1> My Bookmarks </h1>
    </br>
    </br>
    <form action = '/bookmarks'>
      <input type = 'submit' value = 'Manage your bookmarks list'>
    </form>
  </body>
</html>
